<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6>About</h6>
                <p class="text-justify">This website is used for post your ads and this site is not responsible for the
                    context of the ads. Each individual is resposible on what they post</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6>Quick Links</h6>
                <ul class="footer-links row row-cols-5">
                    <li class= "col"><a href="#">About Us</a></li>
                    <li class= "col"><a href="#">Contact Us</a></li>
                    <li class= "col"><a href="#">Contribute</a></li>
                    <li class= "col"><a href="#">Privacy Policy</a></li>
                    <li class= "col"><a href="#">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">Darcule</a>.
                </p>
            </div>

        </div>
    </div>
</footer>