.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }

.listing {
  -webkit-box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  border-radius: 7px;
  position: relative;
  background: #fff; 
}
  .listing a {
    color: rgb(155, 148, 148);
  }
  @media (min-width: 992px) {
    .listing {
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px; } 
    }
  .listing .title {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-right: 10px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 230px;
    flex: 0 0 230px; }
    @media (max-width: 767.98px) {
      .listing .title {
        height: 250px;
        margin-right: 0;
        border-top-right-radius: 7px;
        border-bottom-left-radius: 0px; } }
  .listing .category {
    font-size: 11px;
    display: inline-block;
    padding: 5px 20px;
    background: #e9ecef;
    border-radius: 30px;
    margin-bottom: 20px;
    color: #000;
    font-weight: bold; }
  .listing .lh-content {
    padding: 20px;
    position: relative;
    width: 100%; }
  .listing .review {
    font-size: 13px; 
    font-weight: 300;
  }
  .listing h3 {
    font-size: 16px !important; }
  .listing.vertical {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    display: block !important; }
    .listing.vertical .title {
      height: 150px;
      margin-right: 0;
      border-top-right-radius: 7px;
      border-bottom-left-radius: 0px; }